.navbar {
  display: flex;

  position: -webkit-sticky;
  position: sticky;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 5px;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4.5px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  top: 0;

  .img img {
    height: 65px;
    width: 65px;
  }
  .icons {
    display: flex;
    gap: 15px;

    .cart {
      display: flex;
      position: relative;

      span {
        padding: 3px;
        border-radius: 23px;
        color: #413d10;
        top: -9px;
        left: 18px;

        position: absolute;
        z-index: 100;
      }
    }
  }
}

// Sales
.popularSales {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .popularSales-cards {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .sales {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 5px 8px 7px #a7a79b;
      
      padding: 5px;
      border-radius: 6px;
      .popular-card {
        display: flex;
        justify-content: space-between;
        padding: 5px;

        .popular-card-content {
          padding-top: 25px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .popular-price {
            display: flex;
            gap: 20px;
            justify-content: center;
            align-content: center;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 7px;
            }
          }

          .popular-buy {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 11px;
          }
        }

        .shoe-img {
          height: 250px;
          width: 300px;
          overflow: hidden;
          position: relative;
          
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            position: absolute;
          }
         
        }
      }
    }
  }
}

// Top - Rated Sales

.toprated {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .toprated-cards {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 5px 8px 7px #a7a79b;
      padding: 5px;
      border-radius: 6px;
      .card-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        padding: 5px;
        .card-price {
          display: flex;
          gap: 20px;
          justify-content: center;
          align-content: center;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 11px;
          }
        }
        .card-buy {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
        }
      }

    
    }

    .card-img {
       height: 250px;
          width: 300px;
          overflow: hidden;
          position: relative;
          
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            position: absolute;
          }
    }
  }
}

// Explore

.explore {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  img {
    height: 350px;
    width: 300px;
  }
}
