* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #113f3a;
  padding: 20px;
  gap: 20px;
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
    .col {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h4 {
        color: #abab81;
      }

      .row li {
        list-style: none;
        color: #8d8d69;
        
      }

    }
  }
  .copyright {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #bcdbce;
  }
}
